.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17.5px 21px 14.25px;
}

.filterBtn {
    padding: 5px 0px;
}

.filterBtnIcon {
    stroke: black;
}

.search {
    position: relative;
}

.searchBtn {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.searchField {
    border-radius: 15px;
    border: 1.5px solid var(--Stroke, #faf5e6);
    background: #fff;
    padding: 16px 24px 16px 49px;

    color: #242a30;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
}
