.image{
    border-radius: 20px;
    border: 1px solid #FAF5E6;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content{
    width: 228px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;

}