.item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    padding: 8px 8px 12px;
}

.image {
    width: 100%;
    border-radius: 16px;
}

.title {
    color: #242a30;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
}

.author {
    color: #242a30;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
}
