.main{
    padding: 8px 8px 32px;
}

.image{
    width: 100%;
    height: 317px;
    object-fit: cover;
    object-position: top;
    border-radius: 16px 16px 72px 16px;
    margin-bottom: 8px;
}

.title{
    color: #242A30;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.45;
    text-align: center;
    margin-bottom: 4px;
}

.description{
    color: #242A30;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 8px;
}

.button{
    display: flex;
    padding: 12px 20px;
    align-items: center;
    border-radius: 8px;
    background-color: #EBC25C;
    margin: 0 auto 80px;
}