.nav {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10.5px 0 20px;
}

.list {
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    background: #ebc25c;
    padding: 16px 42px;
    gap: 32px;
}

.itemLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

}


.itemLinkPage {
    color: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.active{
    color: #fff;
}
